<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTE - Permissão de Trabalho Especial</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h2>PERMISSÃO DE TRABALHO ESPECIAL</h2>
        <form @submit.prevent="submitForm">

            <fieldset>
                <legend>Identificação</legend>
                <label>PTE Número: <input type="text" v-model.trim="formData.pte_numero" required></label>
                <label>Validade: <input type="date" v-model="formData.validade"></label>
            </fieldset>

            <fieldset>
                <legend>Atividades PTE</legend>
                <h3>Atividade</h3>
                <label v-for="(atividade, index) in atividades" :key="index">
                    <input type="checkbox" v-model="formData.atividades" :value="atividade"> {{ atividade }}
                </label>
            </fieldset>

            <fieldset>
                <legend>Informações Gerais</legend>
                <label>Data Abertura: <input type="date" v-model="formData.data_abertura"></label>
                <label>Hora Abertura: <input type="time" v-model="formData.hora_abertura"></label>
                <label>Hora Fechamento: <input type="time" v-model="formData.hora_fechamento"></label>
                <label>Local de Trabalho: <input type="text" v-model="formData.local_trabalho"></label>
                <label>Trabalho Autorizado:</label>
                <input type="radio" v-model="formData.autorizado" value="sim" name="autorizado"> Sim
                <input type="radio" v-model="formData.autorizado" value="nao" name="autorizado"> Não
            </fieldset>

            <fieldset>
                <legend>Riscos Potenciais</legend>
                <label v-for="(risco, index) in riscos" :key="index">
                    <input type="checkbox" v-model="formData.riscos" :value="risco"> {{ risco }}
                </label>
                <label>Outros Riscos: <input type="text" v-model="formData.outros_riscos"></label>
            </fieldset>

            <fieldset>
                <legend>Equipamentos ou Produtos Utilizados</legend>
                <label v-for="(equipamento, index) in equipamentos" :key="index">
                    <input type="checkbox" v-model="formData.equipamentos" :value="equipamento"> {{ equipamento }}
                </label>

                <label>Outros Equipamentos Utilizados: <input type="text" v-model="formData.outros_equipamentos"></label>

            </fieldset>

            <fieldset>
                <legend>Precauções para Trabalho em Altura</legend>
                <div v-for="(altura, index) in trabalho_altura" :key="index">
                    <label>
                        <input type="checkbox" v-model="formData.trabalho_altura" :value="altura"> {{ altura }}
                    </label>
                </div>
            
                <label>Outros: <input type="text" v-model="formData.outros_trabalho_altura"></label>
            </fieldset>
            
            <fieldset>
                <legend>Precauções para Trabalhos com Energia Elétrica</legend>
                <div v-for="(energia, index) in trabalho_energia" :key="index">
                    <label>
                        <input type="checkbox" v-model="formData.trabalho_energia" :value="energia"> {{ energia }}
                    </label>
                </div>
            
                <label>Outras Precaucões para Trabalho em Altura: <input type="text" v-model="formData.outros_trabalho_energia"></label>
            </fieldset>
            
            <fieldset>
                <legend>Precauções para Abastecimento de Geradores</legend>
                <div v-for="(abastecimento, index) in abastecimento_geradores" :key="index">
                    <label>
                        <input type="checkbox" v-model="formData.abastecimento_geradores" :value="abastecimento"> {{ abastecimento }}
                    </label>
                </div>
            
                <label>Outras Precauções para Abastecimento de Geradores: <input type="text" v-model="formData.outros_abastecimento_geradores"></label>
            </fieldset>

            <button type="submit" :disabled="!formData.pte_numero || !formData.pte_numero.trim()">Enviar</button>

        </form>
    </div>

    <script src="pte.js"></script>
</body>
</html>
